<div class="row top-buffer">
    <div class="col-sm-9" >
        <h1>CodingDojo Wall</h1>
    </div>
    <div class="col-sm-2" >
        <p>Welcome, @ViewBag.name</p>
    </div>
    <div class="col-sm-1" >
        <a href="/users/logoff">LOGOFF</a>
    </div>
</div>

<div class="row" style="border: 1px solid grey; hieght: 1px;"></div>

<div class="row top-buffer">
    <form action="/messages" method="post">
        <h2>Post a message</h2>
        <textarea name="content" id="" cols="100" rows="5"></textarea><br>
        <button type="submit" class="btn-primary">Post a message</button>
    </form>
</div>

<div>
    @{
        foreach(var message in ViewBag.messages)
        {
            <div class="col-sm-1" ></div>
            <div class="row col-sm-11" style="">
                <h4>@message.author.first_name @message.author.last_name - @Convert.ToString(String.Format("{0:MMMM dd yyyy}", @message.created_at))</h4>
                <p>@message.content</p>
                
                <div class="col-sm-1" ></div>
                <div class="row col-sm-11" style="">
                    @{
                        foreach(var comment in @message.comments) {
                            <h6>@comment.author.first_name @comment.author.last_name - @Convert.ToString(String.Format("{0:MMMM dd yyyy}", @message.created_at))</h6>
                            <p>@comment.content</p>
                        }
                        <form action="/comments" method="post">
                            <h6>Post a comment</h6>
                            <input type="hidden" name="messageid" value="@message.messageid">
                            <textarea name="content" id="" cols="100" rows="5"></textarea><br>
                            <button type="submit" class="btn-success">Post a comment</button>
                        </form>
                    }
                </div>
                
            </div>
            
        }
    }
</div>

<a href="/">ROOT</a>


